#portfolio-section {
  .serviceBox {
    color: #fff;
    font-family: "Hind", sans-serif;
    text-align: center;
    padding: 25px 10px 30px 10px;
    position: relative;
  }
  .serviceBox .service-content {
    background: linear-gradient(to left bottom, #fd9743, #ff018f);
    padding: 15px;
    border-radius: 0 30px 30px 0;
    box-shadow: 20px 0 20px -20px rgba(0, 0, 0, 0.5) inset;
  }
  .serviceBox .title {
    color: #ff018f;
    background: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 10px;
    margin: 0 -20px 20px -15px;
    border-radius: 0 30px 30px 0;
    box-shadow: 10px 0 10px -10px rgba(0, 0, 0, 0.5) inset,
      5px 0 5px rgba(0, 0, 0, 0.2);
  }
  .serviceBox .description {
    font-size: 15px;
    line-height: 24px;
    margin: 0 0 20px;
  }
  .serviceBox.blue:after {
    background: #6558ff;
  }
  .serviceBox.blue .service-content {
    background: linear-gradient(to left bottom, #02d7dd, #6558ff);
  }
  .serviceBox.blue .title {
    color: #6558ff;
  }
  .serviceBox.purple:after {
    background: #910090;
  }
  .serviceBox.purple .service-content {
    background: linear-gradient(to left bottom, #f83abe, #910090);
  }
  .serviceBox.purple .title {
    color: #910090;
  }
  .serviceBox.green:after {
    background: #00ae85;
  }
  .serviceBox.green .service-content {
    background: linear-gradient(to left bottom, #02f4c1, #00ae85);
  }
  .serviceBox.green .title {
    color: #00ae85;
  }
  @media only screen and (max-width: 990px) {
    .serviceBox {
      margin: 0 0 30px;
    }
  }
}
