#projects {
  .serviceBox {
    color: #fff;
    font-family: "Hind", sans-serif;
    text-align: center;
    padding: 25px 10px 30px 10px;
    position: relative;
  }
  .serviceBox .service-content {
    background: linear-gradient(to left bottom, #f28d00, #fdcd00);
    padding: 15px;
    border-radius: 0 30px 30px 0;
    box-shadow: 20px 0 20px -20px rgba(0, 0, 0, 0.5) inset;
  }
  .serviceBox .title {
    color: #f28d00;
    background: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 10px;
    margin: 0 -20px 20px -15px;
    border-radius: 0 30px 30px 0;
    box-shadow: 10px 0 10px -10px rgba(0, 0, 0, 0.5) inset,
      5px 0 5px rgba(0, 0, 0, 0.2);
  }
  .serviceBox .description {
    font-size: 15px;
    line-height: 24px;
    margin: 0 0 20px;
  }
  .serviceBox.blue .service-content {
    background: linear-gradient(to left bottom, #1e567d, #0d70b4);
  }
  .serviceBox.blue .title {
    color: #0d70b4;
  }
  .serviceBox.purple .service-content {
    background: linear-gradient(to left bottom, #a2175b, #e71873);
  }
  .serviceBox.purple .title {
    color: #a2175b;
  }
  @media only screen and (max-width: 990px) {
    .serviceBox {
      margin: 0 0 30px;
    }
  }
}
