<div id="home-page-section">
    <div class="card card-image home-container">
        <div class="text-white text-center rgba-stylish-strong py-5 px-4">
            <div class="py-5">
                <h5 class="rounded-pill py-1" translate>home.greeting</h5>
                <div class="py-1 name-style text-uppercase" translate>home.name</div>
                <img src="assets/img/profile-pic.jpg" class="rounded-circle profile-pic">
                <h2 class="card-title h2 my-3 py-2" translate>home.designation</h2>
                <a class="btn download-cv" translate><i class="fa fa-download"></i>home.download_text</a>
                <div class="icon-position">
                    <span class="fa fa-facebook"></span>
                    <span class="fa fa-linkedin"></span>
                    <span class="fa fa-github"></span>
                    <span class="fa fa-google"></span>
                </div>
            </div>
        </div>
    </div>
</div>