<div id="home-page-section">
    <div class="card card-image home-container">
        <div class="text-white text-center rgba-stylish-strong py-5 px-4">
            <div class="py-5">
                <h5 class="rounded-pill py-1" translate>home.greeting</h5>
                <div class="py-1 name-style text-uppercase" translate>home.name</div>
                <img src="assets/img/profile-pic.jpg" class="rounded-circle profile-pic">
                <h3 class="card-title my-3 py-2" translate>home.designation</h3>
                <a class="btn download-cv" translate><i class="fa fa-download"></i>home.download_text</a>
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5 my-3">
                    <ul class="list-unstyled list-inline social text-center">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-github"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>