@import "~bootstrap/scss/bootstrap";
@import "../../../styles.scss";

#home-page-section {
  height: 100%;
  .home-container {
    background: url("/assets/img/background1.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
  }
  .my-5 {
    margin-top: ($spacer * 5.5) !important;
    margin-bottom: ($spacer * 5.5) !important;
  }
  .profile-pic {
    width: 250px;
    height: 225px;
  }

  .name-style {
    font-size: 35px;
    font-weight: $bold-font;
  }

  .download-cv {
    background-color: $button-color;
    font-weight: $bold-font;
  }

  .py-5 {
    padding-bottom: 0rem !important;
  }

  .icon-position {
    margin-top: 1rem;
  }

  .icon-position span {
    padding: 0.5rem;
    margin: 1rem;
    font-size: 1.2rem;
    background: $icon-bg-color;
    border-radius: 50%;
  }
}
