@import "../../../../styles.scss";
#about-snapshot-section {
  .card {
    .card-header,
    .card-body {
      background: linear-gradient(to left bottom, #1e567d, #0d70b4);
      color: $text-color;
      border-color: $card-border;
      font-size: $font-size;
      line-height: $font-line-height;
    }
  }
}
