<div class="container my-3" id="educational-qualifiations">
    <h2 class="card-title text-center text-white h2 my-3 py-3" translate>education.title</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline">
                <div class="timeline" *ngFor="let qualification of 'education.qualification' | translate">
                    <a href="#" class="timeline-content">
                        <span class="timeline-year">{{qualification.year_of_passing}}</span>
                        <h3 class="title">{{qualification.name}}</h3>
                        <p class="description" [innerHtml]="qualification.detail"></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>