.py-4 {
  padding-bottom: 3rem !important;
}

.btn-primary {
  color: #fff;
  // background-color: #194b6d;
  background-color: #544b7d;
  border-color: #ffffff;
}

.btn-primary:hover {
  // background-color: #544b7d;
  background-color: #194b6d;
}
