/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

$bold-font: 500;
$bg-color: #087979;
$icon-bg-color: #ed7c16;
