/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

$bold-font: 500;
$button-color: #087979;
$icon-bg-color: #ed7c16;
$bg-color: #100e17;
$text-color: #fff;
$font-size: 14px;
$font-line-height: 1.5rem;
$card-bg-color: #016366;
$card-border: #fff;
$border-line: 3px solid $card-border;

body {
  background-color: #01191a !important;
}
